{% include "partials/header.html" %} 
<div class="rec_part">
    {% include "partials/rec_books.html" %} 
</div>
<div class="home-container">
    <div id="home-section">
        <div class="intro">
            <div class="intro-text">
                <h1>Welcome to our Book Store!</h1>
                <p>Welcome to Bookstore! We are a passionate community dedicated to bringing you the best book-reading experiences.</p>
                <p>We offer a diverse collection of book genres, ranging from novels, business books, to science and art books. With each book, we promise to deliver high-quality content and service.</p>
                <p>So come on in, explore our virtual shelves, and embark on a journey of discovery. Thank you for choosing Bookstore as your literary companion!</p>
            </div>
            <div class="intro-vid">
                <iframe id="showcase_video_in" width="560" height="315" src="https://www.youtube.com/embed/BedY-nFctMc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% include "partials/aside.html" %} 
</div>

{% include "partials/footer.html" %} 
