{% include 'partials/header.html' %}
{% if tag %}
<h1>Books tagged with "{{ tag }}"</h1>
{% elif request.GET.q %}
<h1>Search results for "{{ request.GET.q }}"</h1>
{% else %}
<h1> All books</h1>
{% endif %}
<div class="product_page_body">
    <!-- <div class="sort">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort">
            <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
            <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
            <option value="title_asc" {% if request.GET.sort == 'title_asc' %}selected{% endif %}>Title: A to Z</option>
            <option value="title_desc" {% if request.GET.sort == 'title_desc' %}selected{% endif %}>Title: Z to A</option>
        </select>
    </div> -->
    <section class="articles">
      {% for book in books %}
      <article>
        <div class="article-wrapper">
          <figure>
            <img src={{book.img}} alt="">
          </figure>
          <div class="article-body">
            <h2>{{ book.title }}</h2>
            <p class="price">$ {{ book.price }}</p>
            <a href="{% url 'book_detail' book.item_id %}" class="read-more">
              Read more
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </a>
            <a href="{% url 'add_to_cart' book.item_id %}">Add to cart</a>
          </div>
        </div>
      </article>
      {% endfor %}
  
      {% if prev >= 1 %}
        <a href="?page={{prev}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" class="previous" id="prev">&laquo; Previous</a>
      {% endif %}
  
      <a href="?page={{next}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" class="next" id="next">Next &raquo;</a>
  
    </section>
    {% include 'partials/aside.html' %}
</div>
{% include 'partials/footer.html' %}